/** Common **/

#app > div {
    background: url("https://wallpapers.com/images/featured-full/simple-clean-background-8g9017acqfddycrl.jpg");
}

#app > div > div {
    background: transparent;
}

#TopBar, #LeftRail {
    display: none;
}

#O365_NavHeader {
    background: transparent;
}

#O365_NavHeader div button, #O365_NavHeader #owaBranding_container *, #O365_NavHeader #owaMeetNowButton *, #O365_NavHeader #O365_HeaderRightRegion {
    background: transparent;
}

#mainApp > :nth-child(2) {
    background: transparent;
}

[data-app-section="Ribbon"] {
    height: auto !important;
    margin: 0 5px;
}

#RibbonRoot div:has(> [title="Ribbon display options"]) {
    display: none;
}

/** Mail specific **/

#folderPaneDroppableContainer > div > div i[data-icon-name] {
    padding-left: 0 !important;
    margin: 0 !important;
}

#folderPaneDroppableContainer > div:not([role="tree"]):nth-child(n+4) {
    display: none;
}

#folderPaneDroppableContainer [title="Favorites"] {
    display: none;
}

#folderPaneDroppableContainer > div:has([title="Groups"][role="treeitem"]) {
    display: none;
}

#MainModule :has(> [data-app-section="NavigationPane"]) {
    margin: 5px;
}

#MainModule [data-app-section="NavigationPane"] {
    margin-right: 5px;
}

#MainModule [data-app-section="NavigationPane"] + div {
    display: none;
}

#MainModule [data-app-section="NavigationPane"] > div {
    height: auto !important;
    flex: 0 0 auto !important;
}

#MainModule [data-app-section="NavigationPane"] > div > div {
    padding: 0 !important;
}

#MainModule [data-app-section="NavigationPane"] button:has(i[data-icon-name^="Chevron"]) {
    padding: 0 !important;
    margin: 0 !important;
}

#MainModule [data-app-section="MessageList"] {
    margin: 1px !important;
    box-shadow: none !important;
    width: 100%;
}

#MainModule [data-app-section="MessageList"] div:has(> button[title="From"]) {
    display: none;
}

#MainModule [data-app-section="MessageList"] div:has(> button[title="To"]) {
    display: none;
}

#MainModule [data-app-section="MessageList"] div:has(> div > button[title="Mark as unread"]) {
    background: #e8ecf2 !important;
}

#MainModule [data-app-section="MessageList"] [id^="groupHeader"] {
    display: none !important;
}

#MainModule [data-app-section="MessageList"] div:has(> button.ms-Button[title^="Mark as"]) {
    margin: 0 4px;
}

#MainModule [data-app-section="MessageList"] div:has(> button.ms-Button[title^="Mark as"]) > button {
    margin: 0 2px !important;
}

#MainModule [data-app-section="MessageList"] div:has(> button[title^="Mark as"]:not(.ms-Button)) {
    display: none;
}

#MainModule [data-app-section="MessageList"] div:has(> div > button[title^="Mark as"]) div:nth-child(2) > div > :last-child {
    max-width: unset !important;
    flex: 1;
}

#MainModule [data-app-section="MessageList"] div:has(> div > button[title^="Mark as"]) div:nth-child(2) > div > :last-child * {
    text-align: right !important;
}

/** Calendar specific **/

#MainModule[data-app-section="CalendarModule"] > :first-child {
    background: transparent;
    margin: 5px;
}

#MainModule[data-app-section="CalendarModule"] > :first-child > div > div {
    background: transparent;
    overflow: scroll;
}

#MainModule[data-app-section="CalendarModule"] > :first-child > div > div > div {
    background: var(--neutralLighterAlt);
}

#MainModule[data-app-section="CalendarModule"] > :first-child > div > div > div:nth-child(2) {
    flex-direction: column;
    height: auto;
    flex: 0 1 auto;
}

#MainModule[data-app-section="CalendarModule"] > :nth-child(2) {
    display: none;
}

#MainModule[data-app-section="CalendarModule"] > :nth-child(3) {
    margin: 5px 5px 5px 0;
    zoom: 0.9;
}
