#TopBar, #LeftRail {
    display: none;
}

[data-app-section="Ribbon"] {
    height: auto !important;
}

#RibbonRoot div:has(> [title="Ribbon display options"]) {
    display: none;
}

:has(> div > #MainModule) {
    background: url("https://wallpapers.com/images/featured-full/simple-clean-background-8g9017acqfddycrl.jpg");
}

#folderPaneDroppableContainer > div > div i[data-icon-name] {
    padding-left: 0 !important;
    margin: 0 !important;
}

#folderPaneDroppableContainer > div:not([role="tree"]):nth-child(n+4) {
    display: none;
}

#folderPaneDroppableContainer [title="Favorites"] {
    display: none;
}

#folderPaneDroppableContainer > div:has([title="Groups"][role="treeitem"]) {
    display: none;
}

#MainModule :has(> [data-app-section="NavigationPane"]) {
    margin: 5px;
}

#MainModule [data-app-section="NavigationPane"] {
    margin-right: 5px;
}

#MainModule [data-app-section="NavigationPane"] > div {
    height: auto !important;
    flex: 0 0 auto !important;
}

#MainModule [data-app-section="NavigationPane"] > div > div {
    padding: 0 !important;
}

#MainModule [data-app-section="NavigationPane"] button:has(i[data-icon-name^="Chevron"]) {
    padding: 0 !important;
    margin: 0 !important;
}

#MainModule [data-app-section="MessageList"] {
    margin: 1px !important;
    box-shadow: none !important;
    width: 100%;
}

#MainModule [data-app-section="MessageList"] div:has(> button[title="From"]) {
    display: none;
}

#MainModule [data-app-section="MessageList"] div:has(> button[title="To"]) {
    display: none;
}

#MainModule [data-app-section="MessageList"] div:has(> div > button[title="Mark as unread"]) {
    background: #e8ecf2 !important;
}

#MainModule [data-app-section="MessageList"] [id^="groupHeader"] {
    display: none !important;
}

#MainModule [data-app-section="MessageList"] div:has(> button.ms-Button[title^="Mark as"]) {
    margin: 0 4px;
}

#MainModule [data-app-section="MessageList"] div:has(> button.ms-Button[title^="Mark as"]) > button {
    margin: 0 2px !important;
}

#MainModule [data-app-section="MessageList"] div:has(> button[title^="Mark as"]:not(.ms-Button)) {
    display: none;
}

#MainModule [data-app-section="MessageList"] div:has(> div > button[title^="Mark as"]) div:nth-child(2) > div > :last-child {
    max-width: unset !important;
    flex: 1;
}

#MainModule [data-app-section="MessageList"] div:has(> div > button[title^="Mark as"]) div:nth-child(2) > div > :last-child * {
    text-align: right !important;
}
